*.swift linguist-language=Swift
*.md linguist-documentation
*.yml linguist-documentation
*.json linguist-generated
*.sh linguist-generated
*.plist linguist-generated
*.xcodeproj linguist-generated
*.xcworkspace linguist-generated
