<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>742418871.036913</string>
					<key>XcodeLocation</key>
					<string>{"Selection":{"Editor":"Xcode3TargetEditor","Target":"ClooFit","Xcode3BuildPhasesEditorLocations":[{"8b371f23bab32ee143e7d5dc0d687b6a14a27776d913ee42171b6867117d3c14":[["8b371f23bab32ee143e7d5dc0d687b6a3f3696d44300e6e15fbec012d5772335"]]}],"Xcode3TargetEditorLocations":[{"Selected Build Files":[["8b371f23bab32ee143e7d5dc0d687b6a3f3696d44300e6e15fbec012d5772335"]]}]}}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ClooFit.xcodeproj</string>
					</dict>
				</dict>
				<key>type</key>
				<string>Xcode3ProjectDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Missing package product 'OpenMeteoSdk'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Library/Developer/CoreSimulator/Devices/5551502C-1716-4315-B935-BFD936AEEE63/data/Containers/Data/Application/19CDA6DE-6EBE-490C-A0D7-ADB2E3BD5438/Documents/stats.json</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
