<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClooFit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C69C69992C2ECB5C00FE4305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C69C69A92C2ECB5D00FE4305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C69C69B32C2ECB5D00FE4305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
